<% if comment.user == current_user %>
  <nav class="level is-mobile">
    <div class="level-left">
      <p class="level-item">
        <small> <%= link_to edit_comment_path(comment) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %> |
                <%= link_to comment_path(comment), data: {"turbo-method": :delete} do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
          </small>
        </p>
      </div>
    </nav>
  <% end %>
