<div class="section">
  <div class="comment-container">
    <%= render "comments/display_comment", comment: @comment %>
    <%= render "comments/comment_links", comment: @comment %>

    <div class="comments-container">
       <%= render "comments/replies", commentable: @comment %> <br>
    </div>

    <div class="comment-form">
       <%= render "comments/form", commentable: @comment %>
    </div>
  </div>
 </div>
