<% if current_user.friends.include?(user) %>
  <p class="level-item"><%= link_to "Remove Friend", friend_ship_path(id: user.id), data: { "turbo-method": :delete }, class: "button is-danger" %></p>
<% elsif FriendRequest.where(sender: current_user, receiver: user).any? %>
  <p class="level-item"><%= link_to "Delete Pending Request", friend_request_path(current_user.sent_friend_requests.find_by(receiver: user)), data: { "turbo-method": :delete }, class: "button is-danger" %></p>
<% elsif FriendRequest.where(sender: user, receiver: current_user).any? %>
  <p class="level-item"><%= render "friend_requests/accept_request", sender: user, sender_id: user.id %></p>
<% else %>
  <p class="level-item"><%= link_to "Add Friend", friend_requests_path(friend_request: {receiver_id: user.id}), data: { "turbo-method": :post }, class: "button is-primary" %></p>
<% end %>
