<div class= "section">
  <div class= "container">
    <div class= "columns is-centered">
      <div class= "column is-one-third">
        <div class= "title is-4">Odin's Club Members</div>
          <ul>
            <% @users.each do |user| %>
              <% next if user == current_user %>
              <li> <%= image_tag user_avatar(user, 75) %>
                   <%= link_to user.first_name + ' ' + user.last_name, user_path(user) %>

                   <%= link_to "Add Friend", friend_requests_path, data: { "turbo-method": :post }, class: "button is-primary" %></li>

            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
