<div class= "section">
  <div class= "container">
    <div class= "columns is-centered">
      <div class= "column is-three-fifths">
        <div class= "title is-5 has-text-centered">Odin's Club Members</div>
          <ul>
            <% @users.each do |user| %>
              <% next if user == current_user %>
              <li> <div class="level">
                     <div class="level-left">
                       <p class="level-item"><%= image_tag user_avatar(user, 75) %></p>
                       <p class="level-item"><%= link_to user.name, user_path(user), class: "has-text-info-dark" %></p>
                     </div>

                     <div class="level-right">
                       <%= render "friend", user: user %>
                      </div>
                    </div><br />
               </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
