<div class="section">
  <div class="container">
    <div class="title is-5 has-text-centered">New Friend Requests</div>
      <div class="columns">
        <div class="column is-three-fifths">
          <% if @incoming_requests.empty? %>
            <p class="has-text-centered">
              You have no new requests at this time...
            </p>
          <% end %>
          <ul>
            <% @incoming_requests.each do |fr| %>
              <li> <div class="level">
                     <div class="level-left">
                       <p class="level-item"><%= image_tag user_avatar(fr.sender, 75) %></p>
                       <p class="level-item"><%= link_to fr.sender.name, user_path(fr.sender), class: "has-text-info-dark" %></p>
                     </div>

                     <div class="level-right">
                       <p class="level-item"><%= render "accept_request", sender_id: fr.sender_id %></p>
                     </div>
                  </div>
               </li> <br />
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
