<%= form_with(model: post) do |f| %>
  <article class="media">
    <figure class="media-left">
       <%= image_tag user_avatar(current_user, 64) %>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control post-box">
          <%= f.text_area :body, label: false, input_html: { class: "textarea" }, wrapper: false, placeholder: "What's on your mind?" %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= f.submit "Post", class: "button is-primary" %>
          </div>
        </div>
      </nav>
    </div>
  </article>
<% end %>
