<div class="section">
  <div class="form-container">
    <%= render 'form', post: @post %>
  </div>
</div>


  <nav class="navbar is-fixed-bottom">
	<div class="navbar-menu">
		<div class="navbar-item">
			<div class="field is-grouped">
				<p class="control">
					<%= link_to 'Cancel', root_path, class: "button is-dark" %>
				</p>
		</div>
	</div>
</nav>
