<div class="section">
  <div class="container">
    <div class="subtitle is-5 has-text-centered">Timeline</div>
      <%= render "form", post: @post %>
  </div>
</div>

<div class="section">
  <div class="posts-container">
    <% unless @posts.empty? %>
      <% @posts.each do |post| %>
        <%= render "post_content", post: post %>
        <%= render "post_links", post: post %>
       <% end %>
    <% end %>
   </div>
  </div>
