<div class="section">
  <div class="post-container">
    <%= render "post_content", post: @post %>
    <%= render "post_links", post: @post %>


   <div class="comments-container">
      <%= render "comments/replies", commentable: @post %> <br>
   </div>

   <div class="comment-form">
     <%= render "comments/form", commentable: @post %>
   </div>
  </div>
 </div>
