/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';
@import "font-awesome";

  * {
    box-sizing: border-box;
    margin: 0;
  }

  html body {
    height: 100%;
    margin-bottom: 0px;
    background-color: #F0F8FF;
  }

  .main-title {
    color: white;
  }

  .box {
    width: 40%;
  }

  .comments-container, .comment-form{
    padding: 20px;
    margin-left: 60px;
  }

  .posts-container {
    padding-top: 100px;
  }


  .like-button {
    padding-right: 100px;
  }


  .fa-thumbs-up {
    display: inline;
    color: white;
    background-color: gray;
  }

  .hidden-button {
    border: none;
    padding: 0;
    background-color: transparent;
    height: 20px;
  }

  .fa-pen-to-square, .fa-trash-can {
    color: hsl(204, 71%, 39%)
  }

  .fa-comment, .liked{
    color: white;
    background-color: hsl(204, 71%, 39%);
  }

  .hidden-button:hover {
    cursor: pointer;
  }
