/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';
@import "font-awesome";

  * {
    box-sizing: border-box;
    margin: 0;
  }

  html body {
    min-height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    background-color: #F0F8FF;
    padding-bottom: 50px;
  }

  .main-title {
    color: white;
  }

  .box {
    width: 40%;
  }

  .comment-form {
    padding-top: 40px;
  }

  .comments-container {
    margin-left: 60px;
  }

  .timeline-posts {
    padding-top: 5px;
  }

  .user-posts {
    padding-top: 50px;
  }

  textarea {
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    resize: none;
    min-height: 20vh;
    height: fit-content;
    box-shadow:
    0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);
}

input,
textarea::placeholder {
    font: 16px/3 sans-serif;
}

  textarea:focus {
    outline: none;
}


  .like-button {
    padding-right: 100px;
  }


  .fa-thumbs-up {
    display: inline;
    color: white;
    background-color: gray;
  }

  .hidden-button {
    border: none;
    padding: 0px;
    background-color: transparent;
    height: 20px;
  }

  .fa-pen-to-square, .fa-trash-can {
    color: hsl(204, 71%, 39%);
  }

  .fa-comment, .liked{
    color: white;
    background-color: hsl(204, 71%, 39%);
  }

  .hidden-button:hover {
    cursor: pointer;
  }
